<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">

    <!--Linking to other files-->
</head>
<body>
    <main>
  
    <h1>About This App!</h1>
    <h2> This app is called Flask Light.  Catchy right?  Choose on or off to turn the LED on or off!  Have fun!</h2>
            <!---- changes the form to message.  Form:-->
            <!--Input creates the button-->
            <!--Post request-->

        </div>
    </main> 
</body>
</html>